* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.orange {
	background-color: orange;
}

.blue {
	background-color: cornflowerblue;
}

.green {
	background-color: chartreuse;
}

.gray {
	background-color: lightslategrey;
}

.orange,
.blue,
.green,
.gray {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

#container {
	display: grid;
	grid-template-areas:
		'logo logo logo logo logo logo navbar navbar navbar navbar navbar navbar'
		'main main main main main main main main main main main main'
		'section1 section1 section1 section1 section2 section2 section2 section2 section3 section3 section3 section3'
		'footer1 footer1 footer1 footer2 footer2 footer2 footer3 footer3 footer3 footer4 footer4 footer4';
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 3fr 2fr 1.5fr;
	height: 95vh;
	gap: 20px;
	margin: 20px;
}

@media (min-width: 801px) and (max-width: 1200px) {
	#container {
		display: grid;
		grid-template-areas:
			'logo logo'
			'navbar navbar'
			'main main'
			'section1 section1'
			'section2 section2'
			'section3 section3'
			'footer1 footer2'
			'footer3 footer4';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 2.5fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
	}
}

@media (max-width: 800px) {
	#container {
		display: grid;
		grid-template-areas:
			'logo'
			'navbar'
			'main'
			'section1'
			'section2'
			'section3'
			'footer1'
			'footer2'
			'footer3'
			'footer4';
		grid-template-columns: 1fr;
		grid-template-rows: 100px 100px 150px repeat(3, 250px) repeat(4, 200px);
	}
}

.logo {
	grid-area: logo;
}

.navbar {
	grid-area: navbar;
}

.main {
	grid-area: main;
}

.section1 {
	grid-area: section1;
}
.section2 {
	grid-area: section2;
}
.section3 {
	grid-area: section3;
}

.footer1 {
	grid-area: footer1;
}
.footer2 {
	grid-area: footer2;
}
.footer3 {
	grid-area: footer3;
}
.footer4 {
	grid-area: footer4;
}
