/* Styling for the h1 element */
h1 {
	color: blue;
	font-size: 24px;
	text-align: center;
}

/* Styling for the p element */
p {
	font-size: 16px;
}

/* Custom class for adding styles */
.blue {
	background-color: blue;
	font-weight: bold;
}

.green {
	background-color: green;
	font-weight: bold;
}

.red {
	background-color: red;
	font-weight: bold;
}
