body {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.container {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: rgb(50, 198, 239);
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	margin: 5px;
}

.fizz {
	background-color: red;
}

.buzz {
	background-color: blue;
}

.fizz-buzz {
	background: linear-gradient(red, blue);
}
