#box1 {
	background-color: red;
}

#box2 {
	background-color: blue;
	border-radius: 50%;
}

div {
	width: 400px;
	height: 400px;
	/* padding: 10px 20px 30px 40px;
	margin-top: 20px; */
	/* border: 5px solid gray; */
}
